In [ ]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
#from sklearn.feature_extraction.text import CountVectorizer  #DT does not take strings as input for the model fit step....
from IPython.display import Image  
#import pydotplus as pydot
from sklearn import tree
from os import system
from google.colab import files
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import mean_squared_error
#Please comment out this line of code if unnecessary
uploaded = files.upload()

Saving Credit Card Customer Data.xlsx to Credit Card Customer Data (3).xlsx

In [ ]:
data_xls = pd.read_excel('Credit Card Customer Data.xlsx', index_col=None)
data_xls.to_csv('csvfile.csv', encoding='utf-8', index=False)
Data = pd.read_csv("csvfile.csv")
Data.head(10) #several missing values!

   Sl_No  Customer Key  ...  Total_visits_online  Total_calls_made
0      1         87073  ...                    1                 0
1      2         38414  ...                   10                 9
2      3         17341  ...                    3                 4
3      4         40496  ...                    1                 4
4      5         47437  ...                   12                 3
5      6         58634  ...                    1                 8
6      7         48370  ...                   11                 2
7      8         37376  ...                    1                 1
8      9         82490  ...                    2                 2
9     10         44770  ...                    1                 7

[10 rows x 7 columns]